---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Code from '../../components/Code.astro';
import Button from '../../components/Button.astro';
---

<Layout title="Tables">
	<main class="page-main">
    <section class="page-header">
      <div class="small text-primary bold">Components</div>
      <h1>Tables</h1>
      <p class="subhead">...</p>
    </section>
	</main>
</Layout>