---
import Layout from '../layouts/Layout.astro';
import Code from '../components/Code.astro';

---

<Layout title="Home">
	<main class="page-main">
		<h1>Home</h1>
		<section></section>
	</main>
</Layout>

