---
import { Code } from 'astro/components';
export interface Props {
  code: string;
}

const { code } = Astro.props;
const id = 'code-to-copy-' + (new Date()).getTime();
---
<div class="code-container">
  <div class="code-header">
    <div class="code-title">Example Markup</div>
    <div class="code-copy">{ code && <button class="copy-btn" title="Copy Code to Clipboard" data-clipboard-target={'#' + id}><i class="fa-solid fa-copy"></i></button> }</div>
  </div>
  <div id={id}>
    { code ? <Code code={code} lang="html" theme="material-palenight" /> : <Code code="No markup passed" lang="html" theme="material-palenight" /> }
  </div>
</div>